:root {
    --c: #f2f2f2;
    --bg: #202020;
    --br: 1px solid #737373;
    --bs: 0 0 2rem rgb(0 0 0 / 60%);
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 94vh;
    margin: 0;
    color: var(--c);
    font-family: "Quicksand", sans-serif;
    background: var(--bg) url(../img/back-groung.svg) center;
    background-repeat: repeat;
    overflow: hidden;
}

.container {
    max-width: 720px;
    width: 90%;
    margin: 0 auto;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 20px;
    background: var(--bg);
    border: var(--br);
    border-radius: 100px;
    animation: puls 2s ease-in-out infinite;
}

.page1 .menu-btn:nth-child(1) {
    padding: 5px 15px 15px 5px;
}

.page1 .menu-btn:nth-child(3) {
    padding: 13px;
}

.btn-img {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page1 {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
}

.page1.active {
    transform: translateY(-100%);
}

.header {
    height: 10%;
    background: var(--bg);
    box-shadow: var(--bs);
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 .header__container__title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 70%;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

.main__container__table {
    display: flex;
    margin: 0;
    min-width: 225px;
    min-height: 290px;
    background: var(--bg);
    border: var(--br);
    border-radius: 10px;
    box-shadow: var(--bs);
}

.main__container__table__lesson-list {
    margin: .8rem .8rem .8rem 0;
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.footer {
    position: relative;
    height: 20%;
    transition: .3s;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.page1 .footer.active {
    transform: translateY(100%);
}

.page2 {
    position: relative;
    top: -200%;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.page2.active {
    top: -100%;
}

.page2 .header__container__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.page2 .main__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main__container__time {
    margin-top: 3rem;
    padding: .5rem 1.3rem;
    font-size: 2.2rem;
    background: var(--bg);
    border: var(--br);
    border-radius: 10px;
    box-shadow: var(--bs);
}

.page2 .main__container__table {
    margin: auto 0;
}

#clock {
    margin: 0;
}

.time-close-btn {
    padding: 7px;
}

.menu-btn-off {
    background: #202020;
    border-color: #737373;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    animation: puls 2s linear infinite;
    transition: 1.3s;
    margin: 30px auto;
    transform: translateY(0%);
    padding: 12px;
}

.menu-btn-on {
    background: #202020;
    border-color: #737373;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    animation: puls 2s linear infinite;
    transition: 1.3s;
    transform: translateY(0%);
    padding: 12px;
}

.menu-btn-on_active {
    transform: translateY(152%);
}

.menu-btn-off .far {
    font-size: 100px;
}

.menu-btn-off .fas {
    font-size: 100px;
}

.inner {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.far,
.fas {
    font-size: 90px;
}

.menu-btnOn {
    background: #202020;
    border-color: #737373;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    animation: puls 2s linear infinite;
    z-index: 99;
    transition: 1.3s;
    transform: translateY(0%);
    padding: 26px;
}

.menu-btnOn_active {
    transform: translateY(152%);
}

.menu-btn-nz {
    background: #202020;
    border-color: #737373;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    animation: puls 2s linear infinite;
    z-index: 99;
    transition: 1.3s;
    transform: translateY(0%);
}

.menu-btn-nz img {
    width: 130px;
    height: 125px;
    cursor: pointer;
    z-index: 99;
    transition: 1.3s;
    transform: translateY(0%);
    padding: 0 0 0 5px;
}

.menu-btn-nz_active {
    transform: translateY(152%);
}

.menu-block {
    display: flex;
}

.menu {
    justify-content: center;
    display: flex;
    position: relative;
    transition: 1.3s;
    opacity: 0;
}

.menu_active {
    opacity: 1;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    border: var(--br);
    border-radius: 50px;
    width: 65px;
    height: 65px;
    position: fixed;
    text-align: center;
    cursor: pointer;
    z-index: 0;
    transition: 0.3s;
    color: var(--c);
    font-size: 1.5rem;
    text-decoration-line: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 550;
    margin-top: 0px;
}

.menu-btnOff {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: puls 2s ease-in-out infinite;
}

.menu a:nth-child(1) {
    transition-delay: 0.35s;
}

.menu a:nth-child(2) {
    transition-delay: 0.25s;
}

.menu a:nth-child(3) {
    transition-delay: 0.15s;
}

.menu a:nth-child(4) {
    transition-delay: 0.15s;
}

.menu a:nth-child(5) {
    transition-delay: 0.25s;
}

.menu a:nth-child(6) {
    padding: 7px;
    transition-delay: 0.25s;
}

.menu_active a:nth-child(1) {
    transform: translate(-275%, -200%);
}

.menu_active a:nth-child(2) {
    transform: translate(-160%, -200%);
}

.menu_active a:nth-child(3) {
    transform: translate(-45%, -200%)
}

.menu_active a:nth-child(4) {
    transform: translate(70%, -200%);
}

.menu_active a:nth-child(5) {
    transform: translate(185%, -200%);
}

.menu_active a:nth-child(6) {
    transform: translate(310%, -200%);
}

@keyframes puls {
    0% {
        box-shadow: 0 0 0 0 #fefefe, 0 0 0 0 #fefefe00;
    }
    40% {
        box-shadow: 0 0 0 13px #fefefe00, 0 0 0 0 #fefefe00;
    }
    80% {
        box-shadow: 0 0 0 13px #fefefe00, 0 0 0 6px #fefefe00;
    }
    100% {
        box-shadow: 0 0 0 0 #fefefe00, 0 0 0 6px #fefefe00;
    }
}