/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: #f5f5f5;
}

.container {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.header {
    color: #fff;
    background: #0f4371;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header__container__title {
    font-weight: 500;
}


/* /global */


/* search */

.search {}

.search__container {}

.search__container__radio-block {
    margin-top: 20px;
}


/* /search */


/* inputs */

.radio__side {
    margin-right: 2px;
}


/* /inputs */


/* labels */

.label__side {
    margin-right: 10px;
}


/* /labels */