/* body#wrapped-body
──────────────────────────────────────────────────────────── */


/* body#wrapped-body :root */

:root {
    /* color */
    --w-body-c-1: #fff;
    /* background */
    --w-body-bg-1: #202020;
    --w-body-bg-2: #4f11ba;
    --w-body-bg-3: #292929;
}

//  ! ─ Нужно для нормальной работы;
//  ? ─ Не обязательно в использовании;
//  + ─ Измененная конструкция
// ────────────────────────────────────────────────────────────
//  body#wrapped-body | №1
//      ┌──────────────────────────────────────────────┐
//      | !! Правильная структура для использования !! |
//      └──────────────────────────────────────────────┘
//
//                    ! body#wrapped-body
//                      |
//                    ? ├── header
//                      | ! └── *
//                      |
//                    ? ├── main
//                      | ! └── *
//                      |
//                    ? └── footer
//                        ! └── * 
//
// ────────────────────────────────────────────────────────────
//
//

/* body#wrapped-body | №1 */

body#wrapped-body {
    color: var(--w-body-c-1);
    font-size: 1rem;
    background-color: var(--w-body-bg-1);
    >header,
    >main,
    >footer {
        width: 100%;
        // padding: .75rem 0;
        >* {
            width: 100%;
            margin: 0 auto;
            padding: 0 .75rem;
            @media (min-width: 1400px) {
                max-width: 1380px;
            }
        }
    }
    >header,
    >footer {
        background: var(--w-body-bg-2);
    }
    >header {
        margin-bottom: .75rem;
        box-shadow: 0 3px 0 0 #3f0e95;
    }
}

//  ! ─ Нужно для нормальной работы;
//  * ─ Не обязательно в использовании;
//  + ─ Измененная конструкция
// ────────────────────────────────────────────────────────────
//  #wrapped-body | №2
//      ┌──────────────────────────────────────────────┐
//      | !! Правильная структура для использования !! |
//      └──────────────────────────────────────────────┘
//
//                    ! body#wrapped-body
//                      |
//                    ? ├── header
//                      | ! └── *
//                      |
//                   +! ├── div
//                      | ! ├── aside
//                      |   | ! └── *
//                      |   |
//                      | ! └── main
//                      |     ! └── *
//                      |
//                    ? └── footer
//                        ! └── *
//
// ────────────────────────────────────────────────────────────
//
//

/* #wrapped-body | №2 */

body#wrapped-body {
    >div {
        display: flex;
        width: 100%;
        margin: 0 auto;
        >aside {
            width: 15%;
        }
        >main {
            width: 100%;
        }
        >aside,
        main {
            padding: .75rem 0;
            >* {
                padding: 0 .75rem;
            }
        }
        @media (min-width: 1400px) {
            max-width: 1380px;
        }
    }
}