doctype html
html(lang="uk")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="src/css/style.css")
		link(rel="stylesheet" href="src/fonts/my-font/style.css")
		title Навчання
	body
		div.grid__body.wrapper
			include modules/header
				

			div.grid-teaching-container.container
				div.container-content
				div.side-bar
					div.menu

						div.item
							a.sub-btn 
								i.mf-html5
								p Html властивості
							div.sub-menu

						div.item
							a.sub-btn
								i.mf-css3
								p Css властивості
							div.sub-menu
								a(href="#").sub-item Background

						div.item
							a.sub-btn
								i.mf-js
								p Js властивості
							div.sub-menu

			include modules/footer

		script(src="https://code.jquery.com/jquery-3.6.0.min.js")
		script(src="src/js/app.js")
		script(src="src/js/side-menu.js")