// unstyle
@import './functions';
@import './variables';
//
@mixin colorMap($list) {
    @each $colorKey,
    $color in $list {
        @each $listKey in $colors-breakpoints {
            @if $listKey<200 {
                .#{$colorKey}-#{$listKey} {
                    background: tint($color, 20%)
                }
            }
            @else if $listKey>200 {
                .#{$colorKey}-#{$listKey} {
                    background: shade($color, 20%)
                }
            }
            @else {
                .#{$colorKey}-#{$listKey} {
                    background: $color;
                }
            }
        }
    }
}

@mixin unstyle($tag) {
    @if $tag==ul {
        margin: 0 0;
        padding-left: 0;
        list-style: none;
    }
    @else if $tag==a {
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
    }
    @else if $tag==p {
        margin: 0;
    }
}