// variables //
$colors: ( //
'white': #d1d1d1, //
'black': #202020, //
'purple': #4f11ba, //
);
$colors-level: ( //
100, //
200, //
300 //
);
//
$font-family-sans-serif: system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;