// variables
//
//
// color
$colors: ( //
white: #d1d1d1, black: #202020, purple: #4f11ba, );
//
//
// font
$font-family-sans-serif: system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;
//
//
// breakpoints
// ────────────────────────────────────────────────────────────
// 
// color
$colors-breakpoints: ( 100, 200, 300);
//
//
// width
$width-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);