@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/static/Quicksand-Bold.ttf);
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../img/back-groung.svg), #221126;
}

body {
    height: 100vh;
    color: #f9fbf3;
    opacity: 1;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
    
    counter-reset: lesson_number;
}

ol {
    font-size: 70px;
    list-style-position: inside;
    font-weight: 550;
    margin: 0% 8% 0% 8%;
}

li {
    position: relative;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.35s;
}

.wrapper_active {
    transform: translateY(-100%);
}

/*
.day-book {
    width: 100%;
    height: 100%;
}
*/

.header {
    height: 100%;
    background-color: #341a3d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
}

.header h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.tables {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    background: #341a3d;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
    width: 70%;
    height: 65%;
    margin: auto;
    align-items: center;
    display: flex;
}

.border >div {
    margin: auto;
}

.border >div>.lesson, div {
    font-size: 70px;
    font-weight: 550;
}

.border >div>.lesson::before {
    font-size: 70px;
    font-weight: 550;
    counter-increment: lesson_number;
    content: counter(lesson_number) '. ';
}

.wrapper-time {
    top: -200%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.35s;
    
}

.wrapper-time_active {
    transform: translateY(100%);
}

.time {
    background-color: #341a3d;
    width: 60%;
    display: flex;
    font-size: 5rem;
    margin: auto;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 1.5rem 3rem rgb(0 0 0 / 40%);
}

.menu-btn-on , .menu-btn-off {
    background: #b646f0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    animation: puls 2s linear infinite;
    transition: 1.3s;
    margin: auto;
    transform: translateY(0%);
    padding: 10px;
}

.menu-btn-on_active {
    transform: translateY(140%);
}


.menu-btn-off .far {
    font-size: 100px;
}

.menu-btn-off .fas {
    font-size: 100px;
}

.inner {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.far,
.fas {
    font-size: 90px;
}

.menu-btnOn {
    background: #b646f0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    animation: puls 2s linear infinite;
    z-index: 99;
    margin: auto;
    transition: 1.3s;
    transform: translateY(0%);
    padding: 26px;
}

.menu-btnOn_active {
    transform: translateY(140%);
}

.menu-block {
    display: flex;
}

.menu {
    justify-content: center;
    display: flex;
}

.menu a {
    background: #b646f0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: fixed;
    text-align: center;
    cursor: pointer;
    padding-top: 30px;
    z-index: 0;
    transition: 0.35s;
    color: #f9fbf3;
    font-size: 45px;
    text-decoration-line: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 550;
    margin-top: 20px;
}

.menu-btnOff {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    animation: puls 2s linear infinite;
    padding: 10px 10px 30px 10px;
}

.menu a:nth-child(1) {
    transition-delay: 0.35s;
}

.menu a:nth-child(2) {
    transition-delay: 0.25s;
}

.menu a:nth-child(3) {
    transition-delay: 0.15s;
}

.menu a:nth-child(4) {
    transition-delay: 0.15s;
}

.menu a:nth-child(5) {
    transition-delay: 0.25s;
}

.menu a:nth-child(6) {
    transition-delay: 0.25s;
}

.menu_active a:nth-child(1) {
    transform: translate(-260%, -130%);
}

.menu_active a:nth-child(2) {
    transform: translate(-150%, -130%);
}

.menu_active a:nth-child(3) {
    transform: translate(-40%, -130%)
}

.menu_active a:nth-child(4) {
    transform: translate(70%, -130%);
}

.menu_active a:nth-child(5) {
    transform: translate(180%, -130%);
}

.menu_active a:nth-child(6) {
    transform: translate(320%, -130%);
    /* 110 */
}

.anim_slide_top {
    animation: slide_top .5s linear forwards;
    animation-delay: .1s;
    opacity: 0;
}

.anim_slide_bottom {
    animation: slide_bottom .5s linear forwards;
    animation-delay: .1s;
    opacity: 0;
}

.anim_opacity {
    animation: change_opacity .5s linear forwards;
    animation-delay: .4s;
    opacity: 0;
}

@keyframes slide_top {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slide_bottom {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes change_opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes puls {
    0% {
        box-shadow: 0 0 0 0 #7b2c97, 0 0 0 0 #7b2c9700;
    }

    40% {
        box-shadow: 0 0 0 20px #7b2c9700, 0 0 0 0 #7b2c9700;
    }

    80% {
        box-shadow: 0 0 0 20px #7b2c9700, 0 0 0 13px #7b2c9700;
    }

    100% {
        box-shadow: 0 0 0 0 #7b2c9700, 0 0 0 13px #7b2c9700;
    }
}
