.accordion
	.accordion-item#question1
		a(href="#question1").accordion-link Background-color
			i
			i
		a.sub-title // Визначає колір фону елемента
		.answer
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum cum, commodi consectetur accusamus molestias soluta voluptas fugit nemo, maiores sapiente nobis quo, veritatis magni rem, eum ut animi optio tenetur.