section
	footer.grid-footer
		ul.sci
			li
				a(href="https://t.me/manko_sasha" target="_blank")
					i.mf-telegram
			li
				a(href="https://www.instagram.com/_man.ko_" target="_blank")
					i.mf-instagram