- var menuItems = 2;
- var menuValues = ['Головна', 'Навчання'];
- var menuLinkItem = ['index.html', 'teaching.html'];

section
	header.grid-header
		a(href="index.html").logo Портфоліо
		div.toggle
		ul.navigation
			- for (var x = 0; x < menuItems; x++)
				li
					a(href=menuLinkItem[x]) #{menuValues[x]}