/* margin
============================================================ */

// m
@for $i from 1 through 5 {
    .m {
        &-#{$i} {
            margin: 1rem / $i !important;
        }
        &t-#{$i} {
            margin-top: 1rem / $i !important;
        }
        &r-#{$i} {
            margin-right: 1rem / $i !important;
        }
        &b-#{$i} {
            margin-bottom: 1rem / $i !important;
        }
        &l-#{$i} {
            margin-left: 1rem / $i !important;
        }
        &v-#{$i} {
            margin: 1rem / $i 0 !important;
        }
        &y-#{$i} {
            margin: 0 1rem / $i !important;
        }
    }
}

.m {
    &-auto {
        margin: auto !important;
    }
    &t-auto {
        margin-top: auto !important;
    }
    &r-auto {
        margin-right: auto !important;
    }
    &b-auto {
        margin-bottom: auto !important;
    }
    &l-auto {
        margin-left: auto !important;
    }
    &x-auto {
        margin: 0 auto !important;
    }
    &y-auto {
        margin: auto 0 !important;
    }
}