/* flex
============================================================ */
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-item-c {
  align-items: center;
}

/* margin
============================================================ */
.m-1 {
  margin: 1rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.mv-1 {
  margin: 1rem 0 !important;
}
.my-1 {
  margin: 0 1rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mv-2 {
  margin: 0.5rem 0 !important;
}
.my-2 {
  margin: 0 0.5rem !important;
}

.m-3 {
  margin: 0.3333333333rem !important;
}
.mt-3 {
  margin-top: 0.3333333333rem !important;
}
.mr-3 {
  margin-right: 0.3333333333rem !important;
}
.mb-3 {
  margin-bottom: 0.3333333333rem !important;
}
.ml-3 {
  margin-left: 0.3333333333rem !important;
}
.mv-3 {
  margin: 0.3333333333rem 0 !important;
}
.my-3 {
  margin: 0 0.3333333333rem !important;
}

.m-4 {
  margin: 0.25rem !important;
}
.mt-4 {
  margin-top: 0.25rem !important;
}
.mr-4 {
  margin-right: 0.25rem !important;
}
.mb-4 {
  margin-bottom: 0.25rem !important;
}
.ml-4 {
  margin-left: 0.25rem !important;
}
.mv-4 {
  margin: 0.25rem 0 !important;
}
.my-4 {
  margin: 0 0.25rem !important;
}

.m-5 {
  margin: 0.2rem !important;
}
.mt-5 {
  margin-top: 0.2rem !important;
}
.mr-5 {
  margin-right: 0.2rem !important;
}
.mb-5 {
  margin-bottom: 0.2rem !important;
}
.ml-5 {
  margin-left: 0.2rem !important;
}
.mv-5 {
  margin: 0.2rem 0 !important;
}
.my-5 {
  margin: 0 0.2rem !important;
}

.m-auto {
  margin: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mx-auto {
  margin: 0 auto !important;
}
.my-auto {
  margin: auto 0 !important;
}

/* padding
============================================================ */
.p-1 {
  padding: 1rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.px-1 {
  padding: 1rem 0 !important;
}
.py-1 {
  padding: 0 1rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.px-2 {
  padding: 0.5rem 0 !important;
}
.py-2 {
  padding: 0 0.5rem !important;
}

.p-3 {
  padding: 0.3333333333rem !important;
}
.pt-3 {
  padding-top: 0.3333333333rem !important;
}
.pr-3 {
  padding-right: 0.3333333333rem !important;
}
.pb-3 {
  padding-bottom: 0.3333333333rem !important;
}
.pl-3 {
  padding-left: 0.3333333333rem !important;
}
.px-3 {
  padding: 0.3333333333rem 0 !important;
}
.py-3 {
  padding: 0 0.3333333333rem !important;
}

.p-4 {
  padding: 0.25rem !important;
}
.pt-4 {
  padding-top: 0.25rem !important;
}
.pr-4 {
  padding-right: 0.25rem !important;
}
.pb-4 {
  padding-bottom: 0.25rem !important;
}
.pl-4 {
  padding-left: 0.25rem !important;
}
.px-4 {
  padding: 0.25rem 0 !important;
}
.py-4 {
  padding: 0 0.25rem !important;
}

.p-5 {
  padding: 0.2rem !important;
}
.pt-5 {
  padding-top: 0.2rem !important;
}
.pr-5 {
  padding-right: 0.2rem !important;
}
.pb-5 {
  padding-bottom: 0.2rem !important;
}
.pl-5 {
  padding-left: 0.2rem !important;
}
.px-5 {
  padding: 0.2rem 0 !important;
}
.py-5 {
  padding: 0 0.2rem !important;
}

/* nav
============================================================ */
/* navbar
============================================================ */
.navbar {
  position: relative;
  display: flex;
}
.navbar-logo,
.navbar a {
  text-decoration: none;
}
.navbar-ul,
.navbar ul {
  list-style: none;
}
.navbar-sticky {
  position: sticky;
  top: 1rem;
  display: block;
}