* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: sans-serif;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #202020;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news-column {
    display: flex;
    flex-direction: column;
}

.news-column__news-block {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    flex: 0 1 auto;
    margin: 10px;
    background: #fff;
}

.news-column__news-block__img {
    width: 100%;
}

.news-column__news-block__title {
    margin: 10px 10px 0 10px;
}

.news-column__news-block__text {
    margin: 10px;
}