/* normalize
──────────────────────────────────────────────────────────── */

// Документ
//
// Изменяем с `box-sizing: content-box`, чтобы на` width` не влияли `padding` или` border`.
*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

// Body
//
// 1. Убрать margin во всех браузерах.
// 2. Лучше всего применить цвет фона по умолчанию.
// 3. Запретить корректировку размера шрифта после изменения ориентации в iOS.
// 4. Измените выделение крана по умолчанию, чтобы оно было полностью прозрачным в iOS.
body {
    margin: 0;
    font-family: var(--#{$font-family-sans-serif});
}