/* root
============================================================ */

@import '../../abstracts/variables';
:root {
    /* color */
    --w-dafault-c-1: #ffffff;
    /* background */
    --w-default-bg-1: #202020;
    --w-default-bg-2: #4f11ba;
    /* font */
    --w-font-family-sans-serif: #{$font-family-sans-serif};
}