* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.side-bar {
    background: #341a3d;
    height: 110%;
    padding: 20px 10px;
    display: flex;
}

.side-bar .menu {
    width: 100%;
    height: fit-content;
    transition: .5s;
}

.side-bar .menu .item {
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #f9fbf3;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    padding: 0 15px;
    margin-bottom: 5px;
    line-height: 50px;
    align-items: center;
    border-radius: 30px;
    background: #5f0074;
    transition: .5s;
}

.side-bar .menu .item a:hover {
    transform: scale(1.05);
}

.side-bar .menu .item i {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

i.html5 {
    background-image: url(../img/html5.svg);
}

i.css3 {
    background-image: url(../img/css3.svg);
}

i.js {
    background-image: url(../img/js.svg);
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 10px;
    transition: 0.1s ease;
}

.side-bar .menu .item .sub-menu {
    width: 93%;
    margin: auto;
    display: none;
}

.side-bar .menu .item .sub-menu a {
    padding-left: 60px;
    box-shadow: inset 0px 3px 2px 1px rgba(0, 0, 0, .4);
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    line-height: 80px;
}

@media (max-width: 900px) {
    .main h1 {
        font-size: 40px;
        line-height: 60px;
    }
}
