@charset "UTF-8";
header .logo {
  color: #f9fbf3;
  text-decoration: none;
  font-size: 1.8em;
  letter-spacing: 1px;
  padding: 8px 18px;
  border-radius: 40px;
  box-shadow: inset 0rem 0px 1rem 0.3rem rgba(0, 0, 0, 0.3);
  margin: auto;
}

header ul {
  display: flex;
  margin: auto;
}

header ul li {
  list-style: none;
  padding: 2px 0 0 0;
}

header ul li a {
  display: inline-block;
  font-weight: 600;
  font-size: 1.1em;
  color: #f9fbf3;
  margin-left: 10px;
  text-decoration: none;
  padding: 8px 18px;
}

header ul li a.active,
header ul li a:hover {
  border-radius: 40px;
  box-shadow: inset 0rem 0px 1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.mobile-navigation {
  display: none;
}

.container {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.container .card {
  position: relative;
  background: #341a3d;
  width: 300px;
  height: 420px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin: auto;
}

.container .card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #5f0074;
  -webkit-clip-path: circle(190px at center 0);
          clip-path: circle(190px at center 0);
  text-align: center;
}

.container .card .circle h2 {
  color: #f9fbf3;
  font-size: 5rem;
  padding: 40px 0;
}

.container .card .content {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 20px;
  text-align: center;
}

.container .card .content p {
  color: #f9fbf3;
}

.container-content {
  width: 100%;
  height: 100%;
  padding-right: 15px;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #5f0074;
  color: #f9fbf3;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.container .card .content a:hover {
  transform: scale(1.1);
}

.container:hover .card {
  transform: scale(0.9);
  filter: blur(3px);
  opacity: 0.5;
}

.container .card:hover {
  transform: scale(1.1);
  filter: blur(0);
  opacity: 1;
}

.mobile-container {
  display: none;
}

.sci {
  display: flex;
  margin: auto 15px;
}

.sci li {
  list-style: none;
}

.sci li a {
  margin: auto 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5f0074;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.sci li a:hover {
  transform: scale(1.1);
}

.side-bar {
  background: #341a3d;
  height: 106%;
  padding: 30px 10px;
  display: flex;
}

.side-bar i {
  margin-right: 1rem;
}

.side-bar .menu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: 0.5s;
}

.side-bar .menu .item {
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #f9fbf3;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  padding: 0 15px;
  margin-bottom: 5px;
  line-height: 50px;
  align-items: center;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: inset 0rem 0px 1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.side-bar .menu .item a:hover {
  transform: scale(1.05);
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 10px;
  transition: 0.1s ease;
}

.side-bar .menu .item .sub-menu {
  width: 93%;
  margin: auto;
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 40px;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  line-height: 80px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  min-width: 0;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
  padding: 3rem;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 50%;
  border: 5px solid #5f0074;
  transition: 0.5s;
  transform: scale(0.9);
  filter: blur(3px);
}

.slick-dots li.slick-active button {
  background: #5f0074;
  transform: scale(1.3);
  border: 5px solid #5f0074;
  filter: blur(0);
}

.slider__item {
  align-items: center;
}

.slider {
  min-width: 0;
}

.accordion-item {
  background: #341a3d;
  border-right: 0.4em;
  margin-bottom: 1px;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.accordion-link {
  font-size: 2rem;
  color: #f9fbf3;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: inset -0.5rem 0px 1rem 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.accordion-link i {
  color: #f9fbf3;
  padding: 0.5rem;
}

.accordion-link .mf-minus {
  display: none;
}

.accordion-item a.sub-title {
  width: 100%;
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  color: #f9fbf3;
  font-size: 1.4rem;
  transition: max-height 650ms;
  border-radius: 30px;
  box-shadow: inset -0.5rem 0px 1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background: #5f0074;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 30px;
}

.answer p {
  color: #f9fbf3;
  font-size: 1.4rem;
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .mf-plus {
  display: none;
}

.accordion-item:target .accordion-link .mf-minus {
  display: block;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -webkit-user-select: none;
}

html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #f9fbf3;
  font-size: 10px;
}

a {
  text-decoration: none;
}

i {
  color: #f9fbf3;
  font-size: 3rem;
}

section {
  background: #341a3d;
  z-index: 1000;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 1.7rem;
}

.wrapper {
  background: #211125;
  min-height: 100vh;
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 1.7rem;
}

::-webkit-scrollbar {
  display: none;
}

.grid__body {
  display: grid;
  grid-template: minmax(75px, auto) 1fr minmax(75px, auto)/1fr;
  grid-template-areas: "header" "container" "footer";
}

.grid__body_teaching {
  display: grid;
  grid-template: minmax(75px, auto) 1fr/1fr;
  grid-template-areas: "header" "container";
}

.grid__item {
  display: flex;
}

.grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: grid;
  grid-template: 100%/20% 30% 50%;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
}

.grid__body_teaching > .grid-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
}

.grid__body_teaching > .grid-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid-teaching-container {
  display: grid;
  grid-template: 100%/80% 20%;
}

.grid-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: grid;
  grid-template: 100%/25% 35% 40%;
  box-shadow: 0 -1rem 5rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 992px) {
  header .logo {
    font-size: 4em;
    margin-inline-start: 40px;
  }

  .navigation {
    display: none;
  }

  .mobile-navigation.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #211125;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    z-index: 100;
  }

  .mobile-navigation li {
    list-style: none;
    padding: 5rem 0 0 0;
  }

  .mobile-navigation li a {
    font-size: 4em;
    color: #f9fbf3;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 18px;
    -webkit-user-select: none;
            user-select: none;
  }

  .mobile-navigation li a.active,
.mobile-navigation li a:hover {
    background: #5f0074;
    border-radius: 75px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    margin: 15px 0;
  }

  .container {
    display: none;
  }

  .toggle {
    background: url(../img/menu.svg) #5f0074;
    border-radius: 50%;
    width: 109px;
    height: 109px;
    z-index: 1000;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    margin: auto;
  }

  .toggle.active {
    background: url(../img/menu-close.svg) #5f0074;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sci li a {
    width: 100px;
    height: 100px;
  }

  i {
    font-size: 69px;
  }

  .main h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .mobile-container {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }

  .mobile-container .card {
    position: relative;
    background: #341a3d;
    width: 85%;
    height: 1200px;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin: auto;
  }

  .mobile-container .card .circle {
    position: relative;
    width: 100%;
    height: 75%;
    background: #5f0074;
    -webkit-clip-path: circle(50% at center 0);
            clip-path: circle(50% at center 0);
    text-align: center;
  }

  .mobile-container .card .circle h2 {
    color: #f9fbf3;
    font-size: 6em;
    padding: 85px 0;
  }

  .mobile-container .card .content {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 20px;
    text-align: center;
  }

  .mobile-container .card .content p {
    color: #f9fbf3;
    font-size: 4em;
  }

  .mobile-container-content {
    width: 100%;
    height: 100%;
  }

  .mobile-container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #5f0074;
    color: #f9fbf3;
    border-radius: 60px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
    font-size: 4em;
  }

  .grid__body {
    grid-template: minmax(150px, auto) 1fr minmax(150px, auto)/1fr;
    grid-template-areas: "header" "container" "footer";
  }

  .grid-header {
    grid-template: 100%/82% 18%;
  }

  .slider ul li {
    padding: 2rem;
  }

  .grid-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid-footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}