@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/Nunito-Black.ttf);
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
}

section {
    background: #341a3d;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    margin: auto;
}

header .logo {
    position: relative;
    color: #f9fbf3;
    font-weight: 800;
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
    padding: 2px 0 0 0;
}

header ul li a {
    display: inline-block;
    font-weight: 600;
    font-size: 1.1em;
    color: #f9fbf3;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 18px;
    user-select: none;
}

header ul li a.active,
header ul li a:hover{
    background: #f9fbf3;
    border-radius: 20px;
    color: #341a3d;
}

.content {
    position: relative;
    background: #211125;
}

footer {
    
}























@media (max-width:991px) {
    header .logo {
        position: relative;
        color: #f9fbf3;
        font-weight: 800;
        text-decoration: none;
        font-size: 5em;
        display: inline-block;
    }
    .navigation {
        display: none;
    }
    .toggle {
        position: fixed;
        background: url(../img/menu.svg) #b646f0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        right: 20px;
        z-index: 1000;
        background-size: 55px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    