.grid__body {
    display: grid;

    grid-template: minmax(75px, auto) 1fr minmax(75px, auto) / 1fr;
    grid-template-areas:
		"header"
		"container"
		"footer";
}

.grid__body_teaching {
    display: grid;

    grid-template: minmax(75px, auto) 1fr / 1fr;
    grid-template-areas:
		"header"
		"container";
}

.grid__item {
    display: flex;
}

.grid-header {
    grid-area: header;
    display: grid;
    grid-template: 100% / 20% 30% 50%;
    
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, .4);
}

.grid-container {
    grid-area: container;
}

.grid-teaching-container {
    display: grid;
    
    grid-template: 100% / 80% 20%;
}

.grid-footer {
    grid-area: footer;
    display: grid;
    grid-template: 100% / 25% 35% 40%;
    
    box-shadow: 0 -1rem 5rem rgba(0, 0, 0, .4);
}