@media (max-width:992px) {
	header .logo {
		font-size: 4em;
		margin-inline-start: 40px;
	}

	.navigation {
		display: none;
	}

	.mobile-navigation.active {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #211125;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: auto;
		z-index: 100;
	}

	.mobile-navigation li {
		list-style: none;
		padding: 5rem 0 0 0;
	}

	.mobile-navigation li a {
		font-size: 4em;
		color: #f9fbf3;
		font-weight: 600;
		text-decoration: none;
		padding: 8px 18px;
		user-select: none;
	}

	.mobile-navigation li a.active,
	.mobile-navigation li a:hover {
		background: #5f0074;
		border-radius: 75px;
		box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
		padding: 15px 30px;
		margin: 15px 0;
	}

	.container {
		display: none;
	}

	.toggle {
		background: url(../img/menu.svg) #5f0074;
		border-radius: 50%;
		width: 109px;
		height: 109px;
		z-index: 1000;
		background-size: 60px;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0px 20px;
		box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
		transition: .2s;

		margin: auto;
	}

	.toggle.active {
		background: url(../img/menu-close.svg) #5f0074;
		background-size: 60px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.sci li a {
		width: 100px;
		height: 100px;
	}

	i {
		font-size: 69px;
	}

	.main h1 {
		font-size: 40px;
		line-height: 60px;
	}

	.mobile-container {
		position: relative;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 0;
	}

	.mobile-container .card {
		position: relative;
		background: #341a3d;
		width: 85%;
		height: 1200px;
		border-radius: 60px;
		overflow: hidden;
		box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
		transition: .5s;
		margin: auto;
	}

	.mobile-container .card .circle {
		position: relative;
		width: 100%;
		height: 75%;
		background: #5f0074;
		clip-path: circle(50% at center 0);
		text-align: center;
	}

	.mobile-container .card .circle h2 {
		color: #f9fbf3;
		font-size: 6em;
		padding: 85px 0;
	}

	.mobile-container .card .content {
		position: absolute;
		width: 100%;
		bottom: 10px;
		padding: 20px;
		text-align: center;
	}

	.mobile-container .card .content p {
		color: #f9fbf3;
		font-size: 4em;
	}

	.mobile-container-content {
		width: 100%;
		height: 100%;
	}

	.mobile-container .card .content a {
		position: relative;
		display: inline-block;
		padding: 10px 30px;
		background: #5f0074;
		color: #f9fbf3;
		border-radius: 60px;
		text-decoration: none;
		margin-top: 20px;
		transition: .2s ease-in-out;
		font-size: 4em;
	}

	.grid__body {
		grid-template: minmax(150px, auto) 1fr minmax(150px, auto) / 1fr;
		grid-template-areas:
			"header"
			"container"
			"footer";
	}

	.grid-header {
		grid-template: 100% / 82% 18%;
	}

	.slider ul li {
		padding: 2rem;
	}
}
